<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DendoService1Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="DendoService1Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://musewiki.dip.jp/dendoweb/DendoRank/DendoService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="DendoService1Soap"
                contract="DendoService.DendoService1Soap" name="DendoService1Soap" />
        </client>
    </system.serviceModel>
</configuration>